rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /batches/{batchId} {
      allow read: if request.auth != null; 
      allow write: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Supervisor';
    }

    match /retailer_requests/{reqId} {
      allow create: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Retailer';
      allow read: if request.auth != null && (
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Supervisor' || 
        resource.data.requesterUid == request.auth.uid
      );
      allow update, delete: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Supervisor';
    }

    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
